/==============================================================================/
R03-01-01

| N邸腰板取替え工事
span.en
| Outer wall Color best　PAINT
#hpb-main
#recruit
p.large
| N邸屋根外壁防水塗装・漆喰遣り替え工事
dl
dt
| 現状
br
span[style="font-size=12px;color=black"]
font[size="-1" color="#000000"]
| 築30年外壁塗装・漆喰等に経年劣化が進み木部等の補修が必要になっています。
dd
br
img[src="2021_1_2/nh01.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 瓦は陶器瓦です。
br
span[style="font-size=12px;color=black"]
font[size="-1" color="#000000"]
| 瓦は陶器瓦で比較的劣化が少ないですが、すすめ口の漆喰の剥がれ等が進んでいます。
dd
| 瓦は陶器瓦なので劣化は少ない
br
img[src="2021_1_2/nh02.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 出窓の現状
br
span[style="font-size=12px;color=black"]
font[size="-1" color="#000000"]
| 出窓はカラーベスト、水切り板金等に塗装の経年劣化が見られます。
dd
br
img[src="2021_1_2/nh03.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 足場組1
br
span[style="font-size=12px;color=black"]
dd
br
img[src="2021_1_2/nh04.jpg" width="400" height="266" border="0"]
dt
| 足場組2
br
font[size="-1" color="#000000"]

dd
br
img[src="2021_1_2/nh05.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 屋根足場3
br
span[style="font-size=12px;color=black"]
dd
| 屋根が急なので屋根足場を組みます。
br
img[src="2021_1_2/nh06.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 屋根足場完成
br
span[style="font-size=12px;color=black"]
dd
br
img[src="2021_1_2/nh07.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 全体足場完成1
br
span[style="font-size=12px;color=black"]
dd
br
img[src="2021_1_2/nh08.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 全体足場完成2
br
dd
br
img[src="2021_1_2/nh09.jpg" width="400" height="266" border="0"]
dt
| 既設樋の取外し
br
span[style="font-size=12px;color=black"]
font[size="-1" color="#000000"]
| 樋の交換と漆喰の遣り替えのために既設の樋を外します。
dd
br
img[src="2021_1_2/nh10.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| スズメ口の漆喰の遣り替え
br
font[size="-1" color="#000000"]
| スズメ口と三日月の漆喰の遣り替えをします。
dd
br
img[src="2021_1_2/nh11.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| パラボラアンテナ取外し
br
font[size="-1" color="#000000"]
| 施工しやすいようにパラボラアンテナを一時的に外します。
dd
br
img[src="2021_1_2/nh12.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
a[href="2021_1_2toi.html"]
| 次の工程へ
| →
| N邸屋根外壁防水塗装・漆喰遣り替え工事
dl
dt
| 既設樋の現状
br
span[style="font-size=12px;color=black"]
font[size="-1" color="#000000"]
| 劣化した樋を外します。
dd
font[color="#ff0000"]
| チェック
br
img[src="2021_1_2/nh13.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| スズメ口の漆喰の現状
br
span[style="font-size=12px;color=black"]
dd
font[color="#ff0000"]
| チェック
br
img[src="2021_1_2/nh16.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 三日月の漆喰の現状
span[style="font-size=12px;color=black"]
dd
font[color="#ff0000"]
| チェック
br
img[src="2021_1_2/nh15.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 破風板現状1
dd
| 漆喰の剥がれ
font[color="#ff0000"]
| チェック
br
img[src="2021_1_2/nh14.jpg" width="400" height="266" border="0"]
dt
| 破風板現状2
br
dd
| 破風板の劣化
font[color="#ff0000"]
| チェック
br
img[src="2021_1_2/nh17.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 屋根足場
br
font[size="-1" color="#000000"]
| 足場を組んでから、現状の劣化状態をさらに詳しくチェックし、補修・修復等を行います。
dd
| 瓦の割れの
font[color="#ff0000"]
| チェック
br
span[style="font-size=12px;color=black"]
img[src="2021_1_2/nh18.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
br
dt
| 瓦の入替えの仮補修
br
span[style="font-size=12px;color=black"]
dd
| 新しい瓦の注文のための補修
font[color="#ff0000"]
| 確認
br
img[src="2021_1_2/nh19.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 瓦入れ替え
br
span[style="font-size=12px;color=black"]
dd
| 新しい陶器瓦に交換
br
img[src="2021_1_2/nh20.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 破風板の補修取替え
br
dd
br
img[src="2021_1_2/nh21.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| パラボラアンテナの一時撤去
br
span[style="font-size=12px;color=black"]
dd
br
img[src="2021_1_2/nh22.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 撤去完了
br
|  　　
span[style="font-size=12px;color=black"]
dd
br
img[src="2021_1_2/nh25.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 撤去完了
br
|  　　
span[style="font-size=12px;color=black"]
dd
| 使わなくなったアンテナは処分します
br
img[src="2021_1_2/nh23.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 既設アンテナの取り付け
br
|  　　
span[style="font-size=12px;color=black"]
dd
| 電波の状態をテスターでチェック
br
img[src="2021_1_2/nh24.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 完了後の後片付け
br
|  　　
span[style="font-size=12px;color=black"]
dd
| アンテナコードも丁寧に処理
br
img[src="2021_1_2/nh26.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
a[href="2021_1_9.html"]
| 棟の土の取替え
| →
| N邸腰板取替え工事
span.en
| Outer wall Color best　PAINT
#hpb-main
#recruit
p.large
| N邸屋根外壁防水塗装・漆喰遣り替え工事
dl
dt
| 棟瓦の取り外して
br
span[style="font-size=12px;color=black"]
font[size="-1" color="#000000"]
| 劣化した漆喰の遣り替え
dd
| 各箇所ごとに施工指示
br
img[src="21_1_9/nh_1.jpg" width="400" height="224" border="0" hspace="5" vspace="5"]
dt
| スズメ口の漆喰の現状
br
span[style="font-size=12px;color=black"]
dd
font[color="#ff0000"]
br
img[src="21_1_9/nh_2.jpg" width="400" height="224" border="0" hspace="5" vspace="5"]
dt
| 棟の土を取ります
span[style="font-size=12px;color=black"]
dd
font[color="#ff0000"]
img[src="21_1_9/nh_3.jpg" width="400" height="224" border="0" hspace="5" vspace="5"]
dt
| 表面をきれいに仕上げます
dd
br
img[src="21_1_16/nh_1.jpg" width="400" height="224" border="0" hspace="5" vspace="5"]
dd
br
dt
| 棟の土の入替え
dd
br
img[src="21_1_16/nh_3.jpg" width="400" height="224" border="0" hspace="5" vspace="5"]
|  　　
dt
| 棟の仕上がり
dd
br
img[src="21_1_16/nh_7.jpg" width="400" height="224" border="0" hspace="5" vspace="5"]
dt
| 瓦の取替え方。
dd
br
img[src="21_1_16/nh_9.jpg" width="400" height="224" border="0" hspace="5" vspace="5"]
dt
| 棟の完了
dd
br
img[src="21_1_16/nh_10.jpg" width="400" height="224" border="0" hspace="5" vspace="5"]
dt
| 棟の土の入れ替え完了
dd
br
img[src="21_1_23/nhk1.jpg" width="400" height="266" border="0"]
dt
| 瓦の取替え方。
dd
br
img[src="21_1_16/nh_6.jpg" width="400" height="224" border="0" hspace="5" vspace="5"]
dt
| 瓦も新しいものに替える。
dd
| 瓦の状態をチェックして交換します
br
img[src="21_1_16/nh_4.jpg" width="400" height="224" border="0" hspace="5" vspace="5"]
|  　　
dt
| 取り替えた瓦。
dd
br
img[src="21_1_16/nhs11.jpg" width="400" height="224" border="0" hspace="5" vspace="5"]
|  　　
dt
| 塀の繋ぎも補修1
dd
br
img[src="21_1_16/nh_12.jpg" width="400" height="224" border="0" hspace="5" vspace="5"]
dt
| 塀の繋ぎの補修2　　
dd
br
img[src="21_1_16/nh_14.jpg" width="400" height="224" border="0" hspace="5" vspace="5"]
dt
| 塀の繋ぎの補修3
dd
br
img[src="21_1_16/nh_13.jpg" width="400" height="224" border="0" hspace="5" vspace="5"]
dt
| 塀の繋ぎの補修4
dd
br
img[src="21_1_16/nh_15.jpg" width="400" height="266" border="0"]
dt
| 塀の繋ぎの補修5
dd
br
img[src="21_1_16/nh_16.jpg" width="400" height="266" border="0"]
dt
| 三日月の仕上がり。
dd
br
img[src="21_1_16/nh_5.jpg" width="400" height="224" border="0" hspace="5" vspace="5"]
dt
| スズメ口の遣り替え
br
dd
br
img[src="21_1_9/nh_5.jpg" width="400" height="224" border="0" hspace="5" vspace="5"]
dt
| 破風板の塗装
br
dd
| 直した破風も塗装します
br
span[style="font-size=12px;color=black"]
img[src="21_1_9/nh_6.jpg" width="400" height="224" border="0" hspace="5" vspace="5"]
br
dt
| スズメ口の遣り替え
br
span[style="font-size=12px;color=black"]
dd
br
img[src="21_1_9/nh_7.jpg" width="400" height="224" border="0" hspace="5" vspace="5"]
dt
| スズメ口北側
br
span[style="font-size=12px;color=black"]
dd
br
img[src="21_1_9/nh_9.jpg" width="400" height="224" border="0" hspace="5" vspace="5"]
dt
| 2F屋根のスズメ口
br
dd
br
img[src="21_1_9/nh_8.jpg" width="400" height="224" border="0" hspace="5" vspace="5"]
dt
| 樋金具の取り付け
br
span[style="font-size=12px;color=black"]
dd
br
img[src="21_1_9/nh_12.jpg" width="400" height="224" border="0"]
dt
| 樋の取付け
br
|  　　
span[style="font-size=12px;color=black"]
dd
br
img[src="21_1_9/nh_11.jpg" width="400" height="224" border="0"]
dt
a[href="2021_1_24.html"]
| ベランダの木部補修へ
| →
