/==============================================================================/
R03-01-01
R03-01-16

N邸屋根外壁防水塗装・漆喰遣り替え工事

dt
現状
dd
築30年外壁塗装・漆喰等に経年劣化が進み木部等の補修が必要になっています。
img src="21_1_2/nh01.jpg"
dt
瓦は陶器瓦です。
dd
瓦は陶器瓦で比較的劣化が少ないですが、すすめ口の漆喰の剥がれ等が進んでいます。
img src="21_1_2/nh02.jpg"
dt
出窓の現状
出窓はカラーベスト、水切り板金等に塗装の経年劣化が見られます。
dd
img src="21_1_2/nh03.jpg"
dt
足場組1
dd
img src="21_1_2/nh04.jpg"
dt
足場組2
dd
img src="21_1_2/nh05.jpg"
dt
屋根足場3
dd
屋根が急なので屋根足場を組みます。
img src="21_1_2/nh06.jpg"
dt
屋根足場完成
dd
img src="21_1_2/nh07.jpg"
dt
全体足場完成1
dd
img src="21_1_2/nh08.jpg"
dt
全体足場完成2
dd
img src="21_1_2/nh09.jpg"
dt
既設樋の取外し
dd
樋の交換と漆喰の遣り替えのために既設の樋を外します。
img src="21_1_2/nh10.jpg"
dt
スズメ口の漆喰の遣り替え
dd
スズメ口と三日月の漆喰の遣り替えをします。
img src="21_1_2/nh11.jpg"
dt
パラボラアンテナ取外し
dd
施工しやすいようにパラボラアンテナを一時的に外します。
img src="21_1_2/nh12.jpg"
dt
既設樋の現状
dd
劣化した樋を外します。
img src="21_1_2/nh13.jpg"
dt
スズメ口の漆喰の現状
dd
img src="21_1_2/nh16.jpg"
dt
三日月の漆喰の現状
dd
img src="21_1_2/nh15.jpg"
dt
破風板現状1
dd
漆喰の剥がれ
img src="21_1_2/nh14.jpg"
dt
破風板現状2
dd
破風板の劣化
img src="21_1_2/nh17.jpg"
dt
屋根足場
dd
足場を組んでから、現状の劣化状態をさらに詳しくチェックし、補修・修復等を行います。
img src="21_1_2/nh18.jpg"
dt
瓦の入替えの仮補修
dd
新しい瓦の注文のための補修
img src="21_1_2/nh19.jpg"
dt
瓦入れ替え
dd
新しい陶器瓦に交換
img src="21_1_2/nh20.jpg"
dt
破風板の補修取替え
dd
img src="21_1_2/nh21.jpg"
dt
パラボラアンテナの一時撤去
dd
img src="21_1_2/nh22.jpg"
dt
撤去完了
dd
img src="21_1_2/nh25.jpg"
dt
撤去完了

dd
使わなくなったアンテナは処分します
img src="21_1_2/nh23.jpg"
dt
既設アンテナの取り付け
dd
電波の状態をテスターでimg src="21_1_2/nh24.jpg"
dt
完了後の後片付け
dd
アンテナコードも丁寧に処理
img src="21_1_2/nh26.jpg"
dt
棟瓦の取り外し
dd
劣化した漆喰の遣り替え。各箇所ごとに施工指示します。
img src="21_1_9/09_nh_1.jpg" width="400" height="224" border="0"
dt
スズメ口の漆喰の現状
dd
img src="21_1_9/09_nh_2.jpg" width="400" height="224" border="0"
dt
棟の土を取ります
dd
img src="21_1_9/09_nh_3.jpg" width="400" height="224" border="0"
dt
表面をきれいに仕上げます
dd
img src="21_1_16/nh_1.jpg" width="400" height="224" border="0"
dt
棟の土の入替え
dd
img src="21_1_16/nh_3.jpg" width="400" height="224" border="0"
dt
棟の仕上がり
dd
img src="21_1_16/nh_7.jpg" width="400" height="224" border="0"
dt
瓦の取替え方。
dd
img src="21_1_16/nh_9.jpg" width="400" height="224" border="0"
dt
棟の完了
dd
img src="21_1_16/nh_10.jpg" width="400" height="224" border="0"
dt
棟の土の入れ替え完了
dd
img src="21_1_23/nhk1.jpg"
dt
瓦の取替え方。
dd
img src="21_1_16/nh_6.jpg" width="400" height="224" border="0"
dt
瓦も新しいものに替える。
dd
瓦の状態をチェックして交換します
img src="21_1_16/nh_4.jpg" width="400" height="224" border="0"
dt
取り替えた瓦。
dd
img src="21_1_16/nhs11.jpg" width="400" height="224" border="0"
dt
塀の繋ぎも補修1
dd
img src="21_1_16/nh_12.jpg" width="400" height="224" border="0"
dt
塀の繋ぎの補修2
dd
img src="21_1_16/nh_14.jpg" width="400" height="224" border="0"
dt
塀の繋ぎの補修3
dd
img src="21_1_16/nh_13.jpg" width="400" height="224" border="0"
dt
塀の繋ぎの補修4
dd
img src="21_1_16/nh_15.jpg"
dt
塀の繋ぎの補修5
dd
img src="21_1_16/nh_16.jpg"
dt
三日月の仕上がり。
dd
img src="21_1_16/nh_5.jpg" width="400" height="224" border="0"
dt
スズメ口の遣り替え
dd
img src="21_1_9/09_nh_5.jpg" width="400" height="224" border="0"
dt
破風板の塗装
dd
直した破風も塗装します
img src="21_1_9/09_nh_6.jpg" width="400" height="224" border="0"
dt
スズメ口の遣り替え
dd
img src="21_1_9/09_nh_7.jpg" width="400" height="224" border="0"
dt
スズメ口北側
dd
img src="21_1_9/09_nh_9.jpg" width="400" height="224" border="0"
dt
2F屋根のスズメ口
dd
img src="21_1_9/09_nh_8.jpg" width="400" height="224" border="0"
dt
樋金具の取り付け
dd
img src="21_1_9/09_nh_12.jpg" width="400" height="224" border="0"
dt
樋の取付け
dd
img src="21_1_9/n09_h_11.jpg" width="400" height="224" border="0"

/==============================================================================/
R03-01-24
N邸防水塗装工事(木部補修)

dt
現状1
dd
img src="21_1_24/nhk12.jpg"
dt
現状2
dd
img src="21_1_24/nhk11.jpg"
dt
劣化部の撤去
dd
img src="21_1_24/nhk14.jpg"
dt
下地の取付
dd
img src="21_1_24/nhk13.jpg"
dt
木部下地補修
dd
img src="21_1_24/nhk15.jpg"
dt
木部交換
dd
img src="21_1_24/nhk16.jpg"
dt
木部塗装完了1
dd
img src="21_1_24/nhk17.jpg"
dt
完成
dd
img src="21_1_24/nhk18.jpg"

/==============================================================================/
R03-02-05
N邸外壁防水塗装工事

dt
屋根の現状1
dd
img src="21_2_5/nht1.jpg"
dt
屋根の現状2
dd
img src="21_2_5/nht2.jpg"
dt
屋根の現状3
dd
img src="21_2_5/nht3.jpg"
dt
出窓の現状
dd
img src="21_2_5/nht5.jpg"
dt
ベランダの現状1
dd
img src="21_2_5/nht6.jpg"
dt
軒天の現状
dd
img src="21_2_5/nht8.jpg"
dt
雀口の現状
dd
img src="21_2_5/nht9.jpg"
dt
足場組み
dd
img src="21_2_5/nht11.jpg"
dt
足場組み2
dd
img src="21_2_5/nht17.jpg"
dt
足場組み3
dd
img src="21_2_5/nht16.jpg"
dt
高圧洗浄
dd
img src="21_2_5/nht15.jpg"
dt
高圧洗浄
dd
出窓
img src="21_2_5/nhtk1.jpg"
dt
高圧洗浄
dd
ベランダ
img src="21_2_5/nhtk2.jpg"
dt
高圧洗浄
dd
網戸も洗浄
img src="21_2_5/nhtk3.jpg"
dt
高圧洗浄
dd
カーポート
img src="21_2_5/nhtk4.jpg"
dt
高圧洗浄
dd
壁も高圧洗浄
img src="21_2_5/nhtk5.jpg"
dt
駐車場の高圧洗浄
dd
img src="21_2_5/nhtk6.jpg"

/==============================================================================/
R03-01-23
N邸駐車場土間脇修復工事

dt
現状1
dd
img src="21_1_23/nhd1.jpg"
dt
現状2
dd
img src="21_1_23/nhd2.jpg"
dt
砂利を入れて下地を整えます
dd
img src="21_1_23/nhd3.jpg"
dt
コンクリートで補修。
dd
img src="21_1_23/nhd4.jpg"
dt
手鏝で丹念に化粧仕上
dd
img src="21_1_23/nhd5.jpg"
dt
綺麗に完成しました
dd
img src="21_1_23/nhd6.jpg"
dt
完成2
dd
img src="21_1_23/nhd9.jpg"
dt
完成2
dd
img src="21_1_23/nhd7.jpg"
dt
完成2
dd
img src="21_1_23/nhd8.jpg"

/==============================================================================/
R03-02-07

N邸外壁防水塗装工事(駐車場)

dt
下塗り1
dd
img src="21_2_6c/nhc1.jpg"
dt
下塗り2
dd
img src="21_2_6c/nhc5.jpg"
dt
下塗り3
dd
img src="21_2_6c/nhc3.jpg"
dt
中上塗り
dd
img src="21_2_6c/nhc4.jpg"
dt
屋根の上塗り
dd
img src="21_2_6c/nhc6.jpg"
dt
仕上げ
dd
img src="21_2_6c/nhc7.jpg"

/==============================================================================/
R03-02-06
R03-02-21

N邸外壁防水塗装工事(樋の入替え)

dt
木部塗装
dd
img src="21_2_6/nhh1.jpg"
dt
木部塗装2
dd
img src="21_2_6/nhh2.jpg"
dt
木部塗装3
dd
img src="21_2_6/nhh3.jpg"
dt
横樋の金具の取付け
dd
img src="21_2_6/nhh4.jpg"
dt
横樋・集水器取付け
dd
img src="21_2_6/nhh5.jpg"
dt
軒樋金具の付け方
dd
img src="21_2_6/nhh6.jpg"
dt
取付完了
dd
img src="21_2_6/nhh7.jpg"
dt
ベランダの養生
dd
img src="21_2_6/nhh8.jpg"
dt
窓の養生
dd
img src="21_2_6/nhh14.jpg"
dt
塀の養生
dd
img src="21_2_6/nhh10.jpg"
dt
屋根の養生
dd
img src="21_2_6/nhh11.jpg"
dt
玄関の養生
dd
img src="21_2_6/nhh12.jpg"
dt
設備品等の養生
dd
img src="21_2_6/nhh13.jpg"
dt
軒天の現状
dd
img src="21_2_6/nhh15.jpg"
dt
ベランダ
dd
鉄部もしっかり塗装します
img src="21_2_6c/nhz1.jpg"
dt
2F外壁
dd
img src="21_2_6c/nhz2.jpg"
dt
軒天3
dd
img src="21_2_6c/nhz3.jpg"
dt
ベランダ
dd
雨戸も綺麗に仕上げます
img src="21_2_6c/nhz4.jpg"
dt
玄関
dd
img src="21_2_6c/nhz5.jpg"
dt
西側壁
dd
img src="21_2_6c/nhz6.jpg"
dt
下塗り
dd
出窓・カラーベストの屋根
img src="21_2_6c/nhz7.jpg"
dt
ベランダ鉄部
dd
鉄部もしっかり塗装します
img src="21_2_6c/nhz8.jpg"
dt
南側中庭
dd
img src="21_2_6c/nhz9.jpg"
dt
北側の屋根と壁の取合い
dd
img src="21_2_6c/nhz10.jpg"

dt
中塗り上塗り
dd
ベランダの鉄部もしっかり塗装します
img src="21_2_21/nhn1.jpg"
dt
2Fベランダより
dd
img src="21_2_21/nhn2.jpg"
dt
2F外壁
dd
img src="21_2_21/nhn3.jpg"
dt
2F窓
dd
鉄部・木部の塗装
img src="21_2_21/nhn4.jpg"
dt
鉄部の塗装
dd
ベランダの飾りフェンスも塗装
img src="21_2_21/nhn4_2.jpg"
dt
ベランダ内側の塗装
dd
戸羽子も塗ります
img src="21_2_21/nhn6.jpg"
dt
下塗り
dd
img src="21_2_21/nhn7.jpg"
dt
塗装
dd
img src="21_2_21/nhn4_3.jpg"
dt
dd
img src="21_2_21/nhn8.jpg"
dt
玄関の塗装
dd
img src="21_2_21/nhn8_1.jpg"

/==============================================================================/
R03-01-27

N邸ポスト修理

dt
現状
dd
img src="21_1_26/nhp1.jpg" width="408" height="266" border="0"
dt
蓋付け1
dd
img src="21_1_26/nhp2.jpg"
dt
蓋付け2
dd
img src="21_1_26/nhp3.jpg"
dt
完了
dd
img src="21_1_26/nhp4.jpg"

/==============================================================================/
R03-01-26
R03-01-29

N邸ベランダ防水工事
dt
現状1
dd
img src="21_1_26/nhb0.jpg"
dt
現状2
dd
img src="21_1_26/nhb1.jpg"
dt
現状3
dd
img src="21_1_26/nhb3.jpg"
dt
表面処理1
dd
img src="21_1_29/bdn0.jpg"
dt
表面処理2
dd
img src="21_1_29/bdn1.jpg"
dt
防水塗膜
dd
img src="21_1_29/bdn2.jpg"
dt
防水塗膜
dd
img src="21_1_29/bdn3.jpg"
dt
塗膜防水
dd
img src="21_1_29/bdn4.jpg"
dt
絶縁シート貼り
dd
img src="21_1_29/bdn5.jpg"
dt
防水塗装
dd
img src="21_1_29/bdn6.jpg"
dt
丁寧に仕上げます
dd
img src="21_1_29/bdn7.jpg"
dt
絶縁シート入れ
dd
img src="21_1_29/bdn8.jpg"
dt
東側ベランダ完了
dd
img src="21_1_29/bdn9.jpg"
dt
南側ベランダ完了
dd
img src="21_1_29/bdn10.jpg"
dt
完了2
dd
img src="21_1_29/bdn11.jpg"
