| N邸防水塗装工事(木部補修)
dl
dt
| 現状1
br
span[style="font-size=12px;color=black"]
dd
br
img[src="21_1_24/nhk12.jpg" width="400" height="266" border="0"]
dt
| 現状2
br
span[style="font-size=12px;color=black"]
dd
br
img[src="21_1_24/nhk11.jpg" width="400" height="266" border="0"]
dt
| 劣化部の撤去
br
dd
br
img[src="21_1_24/nhk14.jpg" width="400" height="266" border="0"]
dt
| 下地の取付
br
dd
br
span[style="font-size=12px;color=black"]
img[src="21_1_24/nhk13.jpg" width="400" height="266" border="0"]
dt
| 木部下地補修
br
span[style="font-size=12px;color=black"]
dd
br
span[style="font-size=12px;color=black"]
img[src="21_1_24/nhk15.jpg" width="400" height="266" border="0"]
dt
| 木部交換
br
span[style="font-size=12px;color=black"]
dd
br
span[style="font-size=12px;color=black"]
img[src="21_1_24/nhk16.jpg" width="400" height="266" border="0"]
dt
| 木部塗装完了1
br
span[style="font-size=12px;color=black"]
dd
br
img[src="21_1_24/nhk17.jpg" width="400" height="266" border="0"]
dt
| 完成
br
dd
br
img[src="21_1_24/nhk18.jpg" width="400" height="266" border="0"]


dt
a[href="2021__2_5.html"]
| 外壁防水塗装工事
