/==============================================================================/
R03-02-05

| N邸外壁防水塗装工事
span.en
| Outer wall Color best　PAINT
#hpb-main
#recruit
p.large
| N邸外壁防水塗装工事
dl
dt
| 現状1
br
span[style="font-size=12px;color=black"]
dd
br
img[src="21_2_5/nht1.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 現状2
br
span[style="font-size=12px;color=black"]
dd
br
img[src="21_2_5/nht2.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 現状3
dd
br
img[src="21_2_5/nht3.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 現調
dd
| 屋根の現状をチェック
br
dt
| 出窓の現状
br
dd
br
img[src="21_2_5/nht5.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| ベランダの現状1
br
dd
br
span[style="font-size=12px;color=black"]
img[src="21_2_5/nht6.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 軒天の現状
br
span[style="font-size=12px;color=black"]
dd
br
span[style="font-size=12px;color=black"]
img[src="21_2_5/nht8.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 雀口の現状
br
span[style="font-size=12px;color=black"]
dd
br
img[src="21_2_5/nht9.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
a[href="2021__2_5_1.html"]
| 足場組み
| →

| N邸外壁防水塗装工事
span.en
| Outer wall Color best　PAINT
#hpb-main
#recruit
p.large
| N邸外壁防水塗装工事(足場組み)
dl
dt
| 足場組み
br
span[style="font-size=12px;color=black"]
dd
br
img[src="21_2_5/nht11.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 足場組み2
br
span[style="font-size=12px;color=black"]
dd
br
img[src="21_2_5/nht17.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 足場組み3
dd
br
img[src="21_2_5/nht16.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 高圧洗浄
dd
br
img[src="21_2_5/nht15.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
a[href="2021__2_5_3.html"]
| 高圧洗浄
| →
br
| N邸外壁防水塗装工事
span.en
| Outer wall Color best　PAINT
#hpb-main
#recruit
p.large
| N邸外壁防水塗装工事(足場組み)
dl
dt
| 高圧洗浄
br
span[style="font-size=12px;color=black"]
dd
| 出窓
br
img[src="21_2_5/nhtk1.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 高圧洗浄
br
span[style="font-size=12px;color=black"]
dd
| ベランダ
br
img[src="21_2_5/nhtk2.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 高圧洗浄
dd
| 網戸も洗浄
br
img[src="21_2_5/nhtk3.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 高圧洗浄
dd
| カーポート
br
img[src="21_2_5/nhtk4.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 高圧洗浄
br
dd
| 壁も高圧洗浄
br
img[src="21_2_5/nhtk5.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 駐車場の高圧洗浄
br
dd
br
span[style="font-size=12px;color=black"]
img[src="21_2_5/nhtk6.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
a[href="2021__2_6.html"]
| 樋の交換工事
| →
