| N邸外壁防水塗装工事(駐車場)
dl
dt
| 下塗り1
br
span[style="font-size=12px;color=black"]
dd
br
img[src="21_2_6c/nhc1.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 下塗り2
br
span[style="font-size=12px;color=black"]
dd
br
img[src="21_2_6c/nhc5.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 下塗り3
dd
br
img[src="21_2_6c/nhc3.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 中上塗り
dd
br
img[src="21_2_6c/nhc4.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 屋根の上塗り
br
dd
br
img[src="21_2_6c/nhc6.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 仕上げ

br
dd
br
span[style="font-size=12px;color=black"]
img[src="21_2_6c/nhc7.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
a[href="2021__2_6_3.html"]
| 自宅の塗装へ
| →
