| N邸外壁防水塗装工事(樋の入替え)
dl
dt
| 木部塗装
br
span[style="font-size=12px;color=black"]
dd
br
img[src="21_2_6/nhh1.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 木部塗装2
br
span[style="font-size=12px;color=black"]
dd
br
img[src="21_2_6/nhh2.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 木部塗装3
dd
br
img[src="21_2_6/nhh3.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 横樋の金具の取付け
dd
br
img[src="21_2_6/nhh4.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 横樋・集水器取付け
br
dd
br
img[src="21_2_6/nhh5.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 軒樋金具の付け方
br
dd
br
span[style="font-size=12px;color=black"]
img[src="21_2_6/nhh6.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 取付完了
br
span[style="font-size=12px;color=black"]
dd
br
span[style="font-size=12px;color=black"]
img[src="21_2_6/nhh7.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
a[href="2021__2_6_1.html"]
| 養生
| →

| N邸外壁防水塗装工事(樋の入替え)
dl
dt
| ベランダの養生
br
span[style="font-size=12px;color=black"]
dd
br
img[src="21_2_6/nhh8.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 窓の養生
br
span[style="font-size=12px;color=black"]
dd
br
img[src="21_2_6/nhh14.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 塀の養生
dd
br
img[src="21_2_6/nhh10.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 屋根の養生
dd
br
img[src="21_2_6/nhh11.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| g玄関の養生
br
dd
br
img[src="21_2_6/nhh12.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 設備品等の養生
br
dd
br
span[style="font-size=12px;color=black"]
img[src="21_2_6/nhh13.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 軒天の現状
br
span[style="font-size=12px;color=black"]
dd
br
span[style="font-size=12px;color=black"]
img[src="21_2_6/nhh15.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
a[href="2021__2_6_2.html"]
| 下塗りへ


| N邸外壁防水塗装工事(樋の入替え)
dl
dt
| ベランダ
br
span[style="font-size=12px;color=black"]
dd
| 鉄部もしっかり塗装します
br
img[src="21_2_6c/nhz1.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 2F外壁
dd
br
img[src="21_2_6c/nhz2.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 軒天3
dd
br
img[src="21_2_6c/nhz3.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| ベランダ
dd
| 雨戸も綺麗にに仕上げます
br
img[src="21_2_6c/nhz4.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 玄関
br
dd
br
img[src="21_2_6c/nhz5.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 西側壁
br
dd
br
span[style="font-size=12px;color=black"]
img[src="21_2_6c/nhz6.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 下塗り
br
span[style="font-size=12px;color=black"]
dd
| 出窓・カラーベストの屋根
br
span[style="font-size=12px;color=black"]
img[src="21_2_6c/nhz7.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| ベランダ鉄部
br
dd
| 鉄部もしっかり塗装します
br
img[src="21_2_6c/nhz8.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 南側中庭
br
span[style="font-size=12px;color=black"]
dd
br
img[src="21_2_6c/nhz9.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 北側の屋根と壁の取合い→
br
dd
br
img[src="21_2_6c/nhz10.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
a[href="2021__2_6_4.html"]
| 中・上塗りへ
| →


| N邸外壁防水塗装工事(樋の入替え)
dl
dt
| ベランダ
br
span[style="font-size=12px;color=black"]
dd
| 鉄部もしっかり塗装します
br
img[src="21_2_21/nhn1.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 2Fベランダより
dd
br
img[src="21_2_21/nhn2.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 2F外壁
dd
br
img[src="21_2_21/nhn3.jpg" width="400" height="266" border="0"]
dt
| 2F窓
dd
| 鉄部・木部の塗装
br
img[src="21_2_21/nhn4.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 鉄部の塗装
br
dd
| ベランダの飾りフェンスも塗装
br
img[src="21_2_21/nhn4_2.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| ベランダ内側の塗装
br
dd
| 戸羽子も塗ります
br
span[style="font-size=12px;color=black"]
img[src="21_2_21/nhn6.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 下塗り
br
span[style="font-size=12px;color=black"]
dd
br
span[style="font-size=12px;color=black"]
img[src="21_2_21/nhn7.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 塗装
br
dd
br
img[src="21_2_21/nhn4_3.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
br
span[style="font-size=12px;color=black"]
dd
br
img[src="21_2_21/nhn8.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 玄関の塗装→
br
dd
br
img[src="21_2_21/nhn8_1.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
