
| N邸ポスト修理
span.en
| Outer wall Color best　PAINT
#hpb-main
#recruit
p.large
| N邸ポスト修理
dl
dt
| 現状
br
span[style="font-size=12px;color=black"]
dd
br
img[src="21_1_26/nhp1.jpg" width="408" height="266" border="0" hspace="5" vspace="5"]
dt
| 蓋付け1
br
span[style="font-size=12px;color=black"]
dd
br
img[src="21_1_26/nhp2.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 蓋付け2
br
dd
br
img[src="21_1_26/nhp3.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 完了
br
dd
br
span[style="font-size=12px;color=black"]
img[src="21_1_26/nhp4.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]


dt
a[href="2021_1_23.html"]
| 駐車場の側面遣り替え
| →
