| N邸ベランダ防水工事
dl
dt
| 現状1
br
span[style="font-size=12px;color=black"]
dd
br
img[src="21_1_26/nhb0.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 現状2
br
span[style="font-size=12px;color=black"]
dd
br
img[src="21_1_26/nhb1.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 現状3
br
dd
br
img[src="21_1_26/nhb3.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 表面処理1
br
dd
br
span[style="font-size=12px;color=black"]
img[src="21_1_29/bdn0.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 表面処理2
br
span[style="font-size=12px;color=black"]
dd
br
span[style="font-size=12px;color=black"]
img[src="21_1_29/bdn1.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 防水塗膜
br
span[style="font-size=12px;color=black"]
dd
br
span[style="font-size=12px;color=black"]
img[src="21_1_29/bdn2.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 防水塗膜
br
span[style="font-size=12px;color=black"]
dd
br
img[src="21_1_29/bdn3.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 塗膜防水
br
dd
br
img[src="21_1_29/bdn4.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 絶縁シート貼り
br
dd
br
img[src="21_1_29/bdn5.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 防水塗装
br
dd
br
img[src="21_1_29/bdn6.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 丁寧に仕上げます
br
dd
br
img[src="21_1_29/bdn7.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 絶縁シート入れ
br
dd
br
img[src="21_1_29/bdn8.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 東側ベランダ完了
br
dd
br
img[src="21_1_29/bdn9.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 南側ベランダ完了
br
dd
br
img[src="21_1_29/bdn10.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 完了2
br
dd
br
img[src="21_1_29/bdn11.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
