<footer class="section siteFooter">
  <div class="footerMenu">
    <div class="container"></div>
  </div>
  <div class="container sectionBox footerWidget">
    <div class="row">
      <div class="col-md-12">
        <aside class="widget_text widget widget_custom_html" id="custom_html-5">
          <div class="textwidget custom-html-widget">
            <div class="foot_info">
              <a href="https://homemade-reform.jp">
                <img src="https://homemade-reform.jp/wp-content/uploads/foot_logo.png" alt="foot_logo">
              </a>
              <div class="foot_tel">
                <a href="tel:058-262-5694">tel:058-262-5694</a>
              </div>
              <p class="foot_add">〒500-8029 岐阜市東材木町37-2</p>
            </div>
          </div>
        </aside>
      </div>
    </div>
  </div>
  <div class="container sectionBox copySection text-center">
    <p>Copyright &copy; 株式会社ホームメイド All Rights Reserved.</p>
    <p>Powered by
      <a href="https://wordpress.org/">WordPress</a>with
      <a href="https://lightning.nagoya/ja/" target="_blank" title="無料 WordPress テーマ Lightning">Lightning Theme</a>&amp;
      <a href="https://ex-unit.nagoya/ja/" target="_blank">VK All in One Expansion Unit</a>by
      <a href="https://www.vektor-inc.co.jp/" target="_blank">Vektor,Inc.</a>technology.
    </p>
  </div>
</footer>

<div id="vk-mobile-nav-menu-btn" class="vk-mobile-nav-menu-btn">MENU</div>
<div class="vk-mobile-nav" id="vk-mobile-nav">
  <nav class="global-nav">
    <ul id="menu-%e3%82%b0%e3%83%ad%e3%83%bc%e3%83%90%e3%83%ab%e3%83%8a%e3%83%93%e3%82%b2%e3%83%bc%e3%82%b7%e3%83%a7%e3%83%b3%e3%83%a1%e3%83%8b%e3%83%a5%e3%83%bc-1" class="vk-menu-acc  menu">
      <li id="menu-item-1258" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-1258">
        <a href="https://homemade-reform.jp">ホーム</a>
      </li>
      <li id="menu-item-1224" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1224">
        <a href="https://homemade-reform.jp/concept/">コンセプト</a>
      </li>
      <li id="menu-item-1223" class="disabled menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-1223">
        <a>リフォームについて</a>
        <ul class="sub-menu">
          <li id="menu-item-1225" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1225">
            <a href="https://homemade-reform.jp/remodeling-for-disaster/">災害に備えるリフォーム</a>
          </li>
          <li id="menu-item-1226" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-1179 current_page_item menu-item-1226">
            <a href="https://homemade-reform.jp/remodeling-for-family/" aria-current="page">家族のためのリフォーム</a>
          </li>
          <li id="menu-item-1227" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1227">
            <a href="https://homemade-reform.jp/remodeling-for-public/">一般的なリフォーム</a>
          </li>
        </ul>
      </li>
      <li id="menu-item-1247" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1247">
        <a href="https://homemade-reform.jp/staff/">スタッフ紹介</a>
      </li>
      <li id="menu-item-1264" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1264">
        <a href="https://homemade-reform.jp/about/">会社概要</a>
      </li>
      <li id="menu-item-1266" class="disabled menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1266">
        <a>その他</a>
        <ul class="sub-menu">
          <li id="menu-item-1278" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1278">
            <a href="https://homemade-reform.jp/blind-touch-course/">ブラインドタッチ講座</a>
          </li>
          <li id="menu-item-1323" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1323">
            <a href="https://homemade-reform.jp/non-chan/">のんちゃん紹介</a>
          </li>
        </ul>
      </li>
      <li id="menu-item-1044" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1044">
        <a href="https://homemade-reform.jp/contact/">お問い合わせ</a>
      </li>
      <li id="menu-item-1268" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1268">
        <a target="_blank" rel="noopener" href="https://www.homemade-reform.com/">施工事例</a>
      </li>
    </ul>
  </nav>
</div>

<script type='text/javascript' id='contact-form-7-js-extra'>
/* <![CDATA[ */
var wpcf7 = {"apiSettings":{"root":"https://homemade-reform.jp/wp-json/contact-form-7/v1","namespace":"contact-form-7/v1"}};
/* ]]> */
</script>

<script type='text/javascript' src='./wp-content/plugins/contact-form-7/includes/js/scripts%EF%B9%96fver=20210127030426.js' id='contact-form-7-js'></script>

<script type='text/javascript' src='https://homemade-reform.jp/wp-admin/js/accordion.min.js?fver=20210203074526' id='accordion-js'></script>

<script type='text/javascript' id='lightning-js-js-extra'>
/* <![CDATA[ */
var lightningOpt = {"header_scrool":"1"};
/* ]]> */
</script>

<script type='text/javascript' src='./wp-content/themes/lightning/assets/js/lightning.min%EF%B9%96fver=20201214113415.js' id='lightning-js-js'></script>

<script type='text/javascript' src='./wp-content/themes/lightning/library/bootstrap-4/js/bootstrap.min%EF%B9%96fver=20201214113415.js' id='bootstrap-4-js-js'></script>

<script type='text/javascript' src='./wp-includes/js/wp-embed.min%EF%B9%96fver=20210203074526.js' id='wp-embed-js'></script>

<script type='text/javascript' id='vkExUnit_master-js-js-extra'>
/* <![CDATA[ */
var vkExOpt = {"ajax_url":"https://homemade-reform.jp/wp-admin/admin-ajax.php","enable_smooth_scroll":"1"};
/* ]]> */
</script>

<script type='text/javascript' src='./wp-content/plugins/vk-all-in-one-expansion-unit/assets/js/all.min%EF%B9%96fver=20210127030535.js' id='vkExUnit_master-js-js'></script>

<!---- 要素が可視範囲に入ったらclass（.run）を付与する -->
javascript:
  $(window).scroll(function (){
    $(".content").each(function(){
      var hit        = $(this).offset().top;
      var scroll    = $(window).scrollTop();
      var wHeight    = $(window).height();
      if (scroll > hit - wHeight + wHeight/100){
        $(this).addClass("run");
      }
    });
  });
