@charset "utf-8";


/*-------------------------------
再利用可能なパーツは制作完了後utility.cssへ
-------------------------------*/

/*-------------------------------
            リセットcss
--------------------------------*/

.siteContent,
.entry-body {
  padding: 0;
}

.blog .siteContent,
.blog .entry-body,
.single .siteContent,
.single .entry-body,
.archive .siteContent,
.archive .entry-body,
.category .siteContent,
.category .entry-body {
  padding: 3em 0;
}

h2 {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}

h3,
h3:after {
  border: none;
}

h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  background: none;
}

h4 {
  border-radius: 0;
}

p {
  margin: 0;
}

/*
.device-pc .gMenu>li a,
.device-mobile .gMenu>li a
{
    padding: 0;
}
*/

.mainSection-marginBottom-on {
	margin-bottom: 0;
}

/*-------------------------------
基本設定（サイト全体のフォントとか背景色など）
--------------------------------*/

/*-----リンクをマウスオーバーした際-----*/
a:hover {
    opacity: 0.8;
    text-decoration: none;
}

/*-------------------------------
           カラム関連
--------------------------------*/

@media (min-width: 600px) {
  .wp-block-columns {
    margin: 0;
  }
}

/*カラムの中身を中央に寄せる*/
.column2-center,
.column2-1center,
.column3-center,
.column4-center {
  justify-content: center;
}

/*2カラムを1カラムにする*/
.column2-1center > div:first-child {
  width: 100%;
  max-width: 1080px;
}

.column2-1center > div:last-child {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
}

/*カラム内の横幅を設定*/
.column2-center > div {
  max-width: calc(1080px / 2);
}

.column3-center > div {
  max-width: calc(1080px / 3);
}

.column4-center > div {
  max-width: calc(1080px / 4);
}

@media screen and (max-width: 600px) {
	.column2-center >div:nth-child(2) {
		margin-top: 40px;
	}
	
	.wp-block-columns {
		margin-bottom: 0;
	}
}

/* 横に作成したカラムを縦に並べる */
.column_vertical {
  flex-direction: column;
}

.column_vertical > div:nth-child(1),
.column_vertical > div:nth-child(2) {
  width: 100%;
}

.column_vertical > div:nth-child(1) {
  margin-bottom: 5px;
}

/*カラムのコンテンツを逆に表示*/
.reverse {
  flex-direction: row-reverse;
}

@media screen and (min-width: 600px) {
    .reverse .wp-block-column:not(:first-child) {
	    margin-left: 0;
	    margin-right: 16px;
    }
}

/*-sp時、カラム落ちの順番入れ替え-*/
@media screen and (max-width: 768px) {
    .flex_order {
      display: flex;
    }

    .flex-item :first-child {
      order: 2;
    }

    .flex-item :nth-child(2) {
      order: 1;
    }
}

/*-カラムが落ちないようにする-*/
.column_nowrap {
  flex-direction: row;
  flex-wrap: nowrap;
}

/*-------------------------------
             便利系
--------------------------------*/

/*非表示系*/

.invisible {
	display: none;
}

/*pc非表示*/
@media screen and (min-width: 1025px) {
  .pc_none {
    display: none;
  }
}

@media screen and (min-width: 769px) {
	.pc_br_none br {
		display: none;
	}
}

/*タブレット非表示*/
@media screen and (min-width: 601px) and (max-width: 1024px) {
  .tab_none {
    display: none;
  }
}

/*スマホ非表示*/
@media screen and (max-width: 600px) {
  .sp_none {
    display: none;
  }
}

  .mgn_null {
    margin: 0 !important;
  }

  .mgn_null > p {
    margin: 0 !important;
  }

  .wp-block-column.mgn_null {
    margin: 0 !important;
  }

@media screen and (min-width: 600px) {
  .mgn_null >.wp-block-column,
  .mgn_null >.wp-block-column >.wp-block-cover  {
    margin: 0 !important;
  }
}

.separator {
  width: 100%;
  border-bottom: 1px dotted #cecece;
}

@media screen and (min-width: 600px) {
  .center {
    text-align: center;
  }
}

/*sp時に使用*/
@media screen and (max-width: 600px) {
  .sp_txt_center {
    text-align: center;
  }

  .sp_txt_left {
    text-align: left !important;
  }

  .sp_br_none br {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .sp_pdg {
    padding: 0 20px;
  }
}

/*画像サイズ*/
.img_cover img {
    width: 400px;
    height: 210px;
    object-fit: cover;
    object-position: 50% 40%;
}

/*-------------------------------
             ヘッダー
--------------------------------*/


@media screen and (max-width: 600px) {
	h1.navbar-brand.siteHeader_logo {
        padding-top: 10px;
    }
}

/*ナビメニュー*/
.gMenu_outer {
    padding-right: 0;
	padding-left: 0;
}

.nav > li,
.nav > li > a {
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
	transition: all .5s;
}


@media screen and (max-width: 600px) {
	div#gMenu_outer {
		display: none;
	}
}

/*ナビメニューのアンダーライン色変更*/
@media screen and (min-width: 768px) {
    ul.gMenu > li > a:hover:after, ul.gMenu > li.current-post-ancestor > a:after, ul.gMenu > li.current-menu-item > a:after, ul.gMenu > li.current-menu-parent > a:after, ul.gMenu > li.current-menu-ancestor > a:after, ul.gMenu > li.current_page_parent > a:after, ul.gMenu > li.current_page_ancestor > a:after {
    border-bottom-color: #111;
    }
}

/*-------------------------------
          スライドショー
--------------------------------*/

.vk-mobile-nav-menu-btn {
    left: unset;
    right: 8px;
}


/*-------------------------------
       コンタクトフォーム
--------------------------------*/
/*背景色*/
div.wpcf7 {
  background: #fff;
}
/*フォームの色*/
.form-control {
    background: #fff8e5;
    font-size: 1.6rem;
    border-radius: 10px !important;
}

/*見出しサイズ*/
div.wpcf7 th {
  width: 25%;
}

/*sp時改行*/
@media screen and (max-width: 600px) {
  div.wpcf7 th {
    width: 100%;
  }
}

span.wpcf7-list-item {
  display: block;
}

.wpcf7 input[type=checkbox] {
	margin-top: 4px;
	margin-right: 4px;
}

/*送信ボタン*/
.btn-primary {
    background: #ffb401;
    border-radius: 30px;
    color: #fff;
    font-size: 16px;
    width: 100%;
    max-width: 360px;
    padding: 15px;
}

input.wpcf7-form-control.wpcf7-submit.btn.btn-primary {
	background: #ffb401;
	color: #fff;
}

.note_list {
	list-style: none;
	width: 65%;
	padding-left: 0;
	margin: 0 auto;
}

@media screen and (max-width: 600px) {
    .note_list {
	    width: 100%;
    }	
}

/*-------------------------------
            テーブル
--------------------------------*/
/* テーブル設定例 */
.tbl {
    max-width: 960px;
    margin: 0 auto;
}

.tbl tr td {
    padding: 5px !important;
}

.tbl table tr td {
    font-size: 16px;
}

/* テーブルのタテ1列目の設定 */
.tbl table tr td:nth-of-type(1) {
	width: 25%;
}

/* テーブルのヨコ1列目の設定 */
.tbl tr:first-child {
  background: #eee;
}


/* 2個目以降のwidth */
.tbl tr td:nth-child(n + 2) {
  width: 10%;
}


/* はみ出た場合、横スクロールにする */
.scroll_table {
  overflow: auto;
  white-space: nowrap;
}

/*-------------------------------
             背景
--------------------------------*/

.bg_menu {
	background: #eee;
}

.bg_cont1 {
	background-image: url(../../../../uploads/img_bg_cont1.jpg.html);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.bg_cont2 {
	background-image: url(../../../../uploads/img_bg_cont2.jpg.html);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
    background-attachment: fixed;
}

.bg_mailform {
	background: #eee;
}

/*-------------------------------
           見出し
--------------------------------*/

.page-header {
	background-repeat: no-repeat;
	background-position: 50%;
}

/*ページヘッダーに全幅背景画像を挿入*/
/*（.page-id-〇〇○←○は検証ツールにてページヘッダーを入れたいページのbodyタグを確認！）*/
.page-id-〇〇○ .page-header {
	background-image: url(../../../../uploads/page_ttl1.jpg.html);
	background-size: cover;
}

/* 例 contactページ */
.page-id-946 .page-header {
	background-image: url(../../../../uploads/img_page-header.jpg.html);
	background-size: cover;
}

/*投稿ページのページヘッダーを全幅背景画像に*/
.blog .page-header,
.single .page-header,
.archive .page-header,
.category .page-header {
	background-image: url(../../../../uploads/img_page-header.jpg.html);
	background-size: cover;	
}

/*スマホ時のページヘッダーの背景画像の位置*/
@media screen and (max-width: 600px){
	.page-id-〇〇○ .page-header {
		background-position: 75%;
	}
}

/*ページヘッダーの文字やタテ幅の設定*/
.page-header_pageTitle, h1.page-header_pageTitle:first-child {
	font-size: 32px;
	font-weight: bold;
	letter-spacing: .2em;
    margin: 60px auto;
}


/*-------------------------------
      TOPページ(最新の記事)
--------------------------------*/

ul.wp-block-latest-posts {
	max-width: 860px;
}

/* 最新の投稿が文字オーバーした際、…に変換 */
ul.wp-block-latest-posts.has-dates a {
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
}

@media screen and (max-width: 600px) {
  ul.wp-block-latest-posts.has-dates a {
    width: 65%;
  }
}

/*-------------------------------
            投稿一覧
--------------------------------*/

a.btn.btn-xs.btn-primary.entry-meta_items_term_button {
    padding: 5px 5px 3px;
}


/*-------------------------------
         ページ内リンク
--------------------------------*/
#menu1 a,
#menu2 a {
    -webkit-transition: all 10s;
    -moz-transition: all 10s;
    -o-transition: all 10s;
	transition: all 10s;
}

.anchor {
	padding-top: 150px;
	margin-top: -150px;
	position: relative;
	z-index: -1;
}

.btn_page_link_wrap {
    max-width: 600px;
    margin: 0 auto;
}

@media screen and (max-width: 600px) {
    .btn_page_link_wrap >div:nth-child(1) {
        margin-bottom: 20px;
    }
}

.btn_page_link a,
.btn_page_link a::before {
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
	transition: all .5s;
	text-decoration: none !important;
}

.btn_page_link a {
	border: 1px solid #111;
    background: #111;
    color: #fff;
    letter-spacing: .1em;
    width: 95%;
    display: block;
    padding: 10px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	z-index: 1;
}

.btn_page_link a::before {
	content: '';
	width: 100%;
	height: 100%;
	background: #fff;
	position: absolute;
	top: -100%;
	left: 0;
	z-index: -1;
}

.btn_page_link a:hover {
	color: #111;
}

.btn_page_link a:hover::before{
	top: 0;
}

/*-------------------------------
          アコーディオン
--------------------------------*/

@keyframes tooltipShow {
    from {
        opacity: 0;
        transform: translateY(5px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.acd_trigger {
	display: none;
}

@media screen and (max-width: 768px) {
    .acd_trigger {
        border: 1px solid #111;
        display: block;
        max-width: 300px;
        margin: 40px auto;
        padding: 10px;
    }
	
    .is-active .product_ttl::before {
        content: "-";
        font-size: 20px;
    }

    .acd {
        cursor: pointer;
        margin: 0 auto;
    }

    .acd_item {
        display: none;
    }

    .is-active .acd_item {
        display: block;
        margin: 0 auto 40px !important;
        animation: tooltipShow 0.3s linear 0s;
    }

    .is-active .acd_trigger {
        margin-bottom: 0;
    }

    .product_inner_column > div:first-child,
    .product_inner_column > div:last-child {
        width: 100%;
    }
}

.gmap {
	max-width: 860px;
	margin: 0 auto;
}