@import url('https://fonts.googleapis.com/css?family=M+PLUS+1p&display=swap&subset=japanese');

body {
  max-width: 1280px;
  margin: 0 auto;
  // font-family: 'M PLUS 1p', 'Hiragino Kaku Gothic Pro', sans-serif, 'メイリオ';
  // background-image: image-url('wood-texture-light.jpg');
}

/* 基本 (iPhone) */
* {
  margin: 0;
  box-sizing: border-box;
}

/* グリッド */
.page {
  display: grid;
  grid-template:
    "header    header    header"    auto
    "billboard billboard billboard" auto
    ".         nav       ."         auto
    ".         main      ."         1fr
    "footer    footer    footer"    auto /
     10px      1fr       10px;
  // grid-gap: 0.5rem;
  // min-height: 100vh;
}

dd {
  text-indent: 2em;
}
