/* フッター */
.page-foot {
  grid-area:  footer;
  display: grid;
  grid-template:
    "1fr" auto
    "1fr" auto
    /1fr;
  * {
    margin: 0.2rem;
    padding: 0;
  }
  padding-bottom: 0.5rem;
  background: $fuka-midori;

  // 個人情報保護方針
  nav {
    ul {
      list-style-type: none;
      a {
        font-size: 0.667rem;
        color: $geppaku;
      }
    }
  }

  // Copyright
  p {
    text-align: center;
    a {
      font-size: 0.55rem;
      color: $geppaku;
    }
  }
}

/* ##### 画面の横幅568ピクセル以上 ##### */
@media (min-width: 568px) {
  .page-foot {
    grid-area:  footer;
    display: grid;
    grid-template:
      "120px 1fr" auto;

    padding-top: 0.5rem;

    // 個人情報保護方針
    nav {
      ul {
        a {
          font-size: 0.8rem;
        }
      }
    }

    // Copyright
    p {
      text-align: right;
      padding-right: 1rem;
      a {
        font-size: 0.75rem;
      }
    }
  }
}
