/*=============================================================================
  入力フォーム用 スタイルシート
  CSS疑似クラスを活用した、モダンでインタラクティブなフォームの作り方 より
  https://ics.media/entry/200413/
=============================================================================*/

.pseudo-class-form.wrapper {
  max-width: 600px;
  margin: 0 auto;
  padding: 24px;

  fieldset {
    border: 0;
    padding: 0;
  }

  p {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    position: relative;
    &:focus-within {
      label.name {
        transform: translateY(0) scale(0.8);
      }
    }
  }


  label.name {
    display: block;
    order: 1;
    transition: transform 0.2s;
    transform: translateY(32px) scale(1);
    @media(min-width: 768px) {
      transform: translateY(34px) scale(1);
    }
    transform-origin: 0 100%;
    padding: 7px;
    font-size: 14px;
    line-height: 1;
  }

  input,
  textarea {
    order: 2;
    width: 100%;
    border: none;
    font-size: 1rem;
    padding: 8px;
    border-bottom: 1px solid #333333;
    background: rgba(255, 255, 255, 0.5);
    &:invalid {
      box-shadow: none;
      & ~ .error.message {
        display: block;
      }
      & ~ .success.message {
        display: none;
      }
    }
    &:valid {
      & ~ .error.message {
        display: none;
      }
      & ~ .success.message {
        display: block;
      }
    }
    &::placeholder {
      color: transparent;
    }
    &:placeholder-shown {
      & ~ .error.message,
      & ~ .success.message {
        display: none;
      }
    }
    &:not(:placeholder-shown) {
      & ~ label.name {
        transform: translateY(0) scale(0.8);
      }
    }
  }

  textarea {
    & ~ label.name {
      padding-left: 7px;
    }
  }

  .message {
    padding: 0 8px 8px 8px;
    position: absolute;
    bottom: -36px;
    z-index: -1;
    font-size: 0.9rem;
    &.error{
      color: red;
    }
    &.success{
      color: green;
    }
  }

  input[required] ~ label.name::after,
  textarea[required] ~ label.name::after {
    content: '※';
    color: red;
  }

  p.required {
    display: block;
    text-align: right;
    margin-bottom: 0;
  }

  #submit {
    width: 120px;
    height: 40px;
    border: none;
    background-color: green;
    font-weight: bold;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
    transition: opacity 0.2s;
    &:disabled {
      background-color: #999;
      color: #ddd;
      cursor: not-allowed;
    }
    &:not(:disabled) {
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
