$konpeki:           #007bbb; // 紺碧(こんぺき)
$shusha:            #e73931; // 朱砂(しゅしゃ)
$nanowanairo:       #ffec47; // 菜の花色(なのはないろ)
$konjiki:           #e6b422; // 金色(こんじき)
$shinryokushoku:    #339933; // 新緑色(しんりょくしょく)
$gen:               #0d0d0d; // 玄(げん)

.grid-wrapper {
  max-width: 1240px;
  width: calc(100vw - 20px);

  .grid {
    width: calc(100vw - 20px);
    max-width: 100%;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    @media (min-width: 628px) { // 三列表示
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    @media (min-width: 1280px) { // 五列表示(横幅固定)
      grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    }
    grid-gap: 10px;
  }
}

.custom-content {
  .card {
    border: none;
    .card-image {
      .img-responsive {
        display: block;
        height: auto;
      }
    }
    .card-header {
      padding: 0.25rem;
      h2.h6.card-title.ellipsis {
        margin: 0;
        padding: 0;
        line-height: 1.2;
        font-size: 0.85rem;

        text-overflow: ellipsis;
        overflow: hidden;

        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
      }
    }
    .card-body {
      margin: 0 auto;
      padding: 0;
      // 施工事例の説明文の省略記号(...)
      p.ellipsis {
        display: inline-block;
        height: 72px;
        padding: 0rem 0.46rem;
        margin: 0;
        text-align: left;
        font-size: 0.77rem;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        overflow: hidden;
      }
    }
  }
}

.item {
  &.renovation {
    .custom-content {
      border: 1px solid $konjiki;

      background-color: lighten($konjiki, 30%);
    }
  }
  &.easily {
    .custom-content {
      border: 1px solid $shinryokushoku;
      background-color: lighten($shinryokushoku, 50%);
    }
  }

  &.restore {
    .custom-content {
      border: 1px solid $shusha;
      background-color: lighten($shusha, 40%);
    }
  }

  &.tile {
    .custom-content {
      border: 1px solid $konpeki;
      background-color: lighten($konpeki, 50%);
    }
  }

  &.wall {
    .custom-content {
      border: 1px solid darken($nanowanairo, 10%);
      background-color: lighten($nanowanairo, 25%);
    }
  }
}
