/*--------------------------------------------------------------
# 工事関係
--------------------------------------------------------------*/
.work_figure {
  display: grid;
  justify-content: center;
  margin-bottom: 1.5rem;
  img {
    width: 100%;
    max-width: 640px;
  }
  p {
    text-align:left;
    padding-left: 30%;
    /* ##### 画面の横幅568ピクセル以上 ##### */
    @media (min-width: 568px) {
      padding-left: 50%;
    }
  }
}

.construction-name {
  text-align: center;
}

.construction-period {
  text-align: right;
  margin-right: 2rem;
}

.construction-outline {
  margin: 0.5rem 0.5rem;
  /* ##### 画面の横幅568ピクセル以上 ##### */
  @media (min-width: 568px) {
    margin: 1rem 3rem;
  }
}
