現状, 築30年外壁塗装・漆喰等に経年劣化が進み木部等の補修が必要になっています。, 2_nh01.jpg
瓦は陶器瓦です。, 瓦は陶器瓦で比較的劣化が少ないですが、すすめ口の漆喰の剥がれ等が進んでいます。, 2_nh02.jpg
出窓の現状, 出窓はカラーベスト、水切り板金等に塗装の経年劣化が見られます。, 2_nh03.jpg
足場組1, , 2_nh04.jpg
足場組2, , 2_nh05.jpg
屋根足場3, 屋根が急なので屋根足場を組みます。, 2_nh06.jpg
屋根足場完成, , 2_nh07.jpg
全体足場完成1, , 2_nh08.jpg
全体足場完成2, , 2_nh09.jpg
既設樋の取外し, 樋の交換と漆喰の遣り替えのために既設の樋を外します。, 2_nh10.jpg
スズメ口の漆喰の遣り替え, スズメ口と三日月の漆喰の遣り替えをします。, 2_nh11.jpg
パラボラアンテナ取外し, 施工しやすいようにパラボラアンテナを一時的に外します。, 2_nh12.jpg
既設樋の現状, 劣化した樋を外します。, 2_nh13.jpg
スズメ口の漆喰の現状, , 2_nh16.jpg
三日月の漆喰の現状, , 2_nh15.jpg
破風板現状1, 漆喰の剥がれ, 2_nh14.jpg
破風板現状2, 破風板の劣化, 2_nh17.jpg
屋根足場, 足場を組んでから、現状の劣化状態をさらに詳しくチェックし、補修・修復等を行います。, 2_nh18.jpg
瓦の入替えの仮補修, 新しい瓦の注文のための補修, 2_nh19.jpg
瓦入れ替え, 新しい陶器瓦に交換, 2_nh20.jpg
破風板の補修取替え, , 2_nh21.jpg
パラボラアンテナの一時撤去, , 2_nh22.jpg
撤去完了, , 2_nh25.jpg
撤去完了, 使わなくなったアンテナは処分します, 2_nh23.jpg
既設アンテナの取り付け, 電波の状態をテスターでチェック, 2_nh24.jpg
完了後の後片付け, アンテナコードも丁寧に処理, 2_nh26.jpg
棟瓦の取り外して, 劣化した漆喰の遣り替え。各箇所ごとに施工指示, 9_nh_1.jpg
スズメ口の漆喰の現状, , 9_nh_2.jpg
棟の土を取ります, , 9_nh_3.jpg
表面をきれいに仕上げます, , 16_nh_3.jpg
足場組1, , 16_nh_7.jpg
足場組2, 瓦の取替え方。, 16_nh_9
棟の完了, , 16_nh_10
瓦の取替え方。, , 16_nh_6
瓦も新しいものに替える。, 瓦の状態をチェックして交換します, 16_nh_4.jpg
取り替えた瓦。, , 16_nhs11
塀の繋ぎも補修1, , 16_nh_12
塀の繋ぎの補修2, , 16_nh_14
塀の繋ぎの補修3, , 16_nh_13
三日月の仕上がり。, , 16_nh_5
スズメ口の遣り替え, , 16_nh_5
破風板の塗装, 直した破風も塗装します, 16_nh_6.jpg
スズメ口の遣り替え, , 16_nh_7
スズメ口北側, , 16_nh_9
2F屋根のスズメ口, , 16_nh_8
樋金具の取り付け, , 16_nh_12
樋の取付け, , 16_nh_11
高圧洗浄1, 塗装の工程が始まりました。, 16_nhs1.jpg
高圧洗浄2, ベランダもきれいに洗浄します, 16_nhs2.jpg
塀もきれいに洗浄, , 16_nhs3
新しい土に替えます。, , 16_nhs4.jpg
駐車場も洗浄, , 16_nhs5
駐車場の塗装1, 養生, 16_nhs6.jpg
駐車場の塗装2, , 16_nhs7.jpg
中塗り, , 16_nhs8.jpg
中・上塗り, , 16_nhs10.jpg
上塗り仕上げ1, , 16_nhs12.jpg
上塗り仕上げ, , 16_nhs13.jpg
現状, , 23_nhd1.jpg
現状2, , 23_nhd2.jpg
塀もきれいに洗浄, , 23_nhd3.jpg
コンクリートで補修。, , 23_nhd4.jpg
手鏝で丹念に化粧仕上, , 23_nhd5.jpg
綺麗に完成しました, , 23_nhd6.jpg
完成, , 23_nhd9.jpg
完成, , 23_nhd7.jpg
完成, , 23_nhd8.jpg
