| 玄関腰のタイルに貼り替え
span.en
| Outer wall Color best　PAINT
#hpb-main
#recruit[style="text-align : right;" align="right"]
p.large
| 玄関の腰の和風モダンタイルに貼り替える
dl
dt
| 現状1
dd
br
img[src="_21_4_24h/_hg1.jpg" width="266" height="411" border="0" hspace="5" vspace="5"]
dt
| 現状2
dd
br
img[src="_21_4_24h//_hg2.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 現状3
dd
br
img[src="_21_4_24h/_hg3.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 便座取替
br
span[style="font-size=12px;color=black"]
dd
br
img[src="_21_4_24h/_hg4.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 完了2
dd
| 電源コードに刺して完成
br
img[src="_21_4_24h/_hg5.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
|  　　　　
dt
| 完了2
dd
| リモートも正常に起動
br
img[src="_21_4_24h/_hg6.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
|  　　　　
dt
| 完了2
dd
| リモートも正常に起動
br
img[src="_21_4_24h/_hg7.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
|  　　　　
dt
| 完了2
dd
| リモートも正常に起動
br
img[src="_21_4_24h/_hg8.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
|  　　　　
dt
| 完了2
dd
| リモートも正常に起動
br
img[src="_21_4_24h/_hg9.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 完了2
dd
| リモートも正常に起動
br
img[src="_21_4_24h/_hg10.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 完了2
dd
| リモートも正常に起動
br
img[src="_21_4_24h/_hg11.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 完了2
dd
| リモートも正常に起動
br
img[src="_21_4_24h/_hg12.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 完了2
dd
| リモートも正常に起動
br
img[src="_21_4_24h/_hg12b.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 完了2
dd
| リモートも正常に起動
br
img[src="_21_4_24h/_hg13.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 完了2
dd
| リモートも正常に起動
br
img[src="_21_4_24h/_hg14.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 完了2
dd
| リモートも正常に起動
br
img[src="_21_4_24h/_hg15.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
