=====================================================================
4_17
| T邸 床・天井・和室改修工事
span.en
| Outer wall Color best　PAINT
#hpb-main
#recruit
p.large
| T邸
span.ja
| 床・天井・和室改修
| 工事
dl
dt
| 現状1
span[style="font-size=12px;color=black"]
dd
| 廊下の剥がれた天井板
br
img[src="_21_4_17/_ti1.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 和室畳下の状態
dd
br
img[src="_21_4_17/_ti2.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 洋室の天井の現状
dd
| 洋室の天井の遣り替え
br
img[src="_21_4_17/_ti3.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 廊下の天井
dd
| 剥がれた天井の取外し
br
img[src="_21_4_17/_ti4.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 上塗り5
br
dd
| 南面の外壁も太陽光で光輝く
br
img[src="_21_4_17/_ti5.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 天井の遣り替え
br
dd
| 天井の張替
br
img[src="_21_4_17/_ti6.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 遣り替え完了
br
dd
br
span[style="font-size=12px;color=black"]
img[src="_21_4_17/_ti7.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 洋室の屋根裏
br
span[style="font-size=12px;color=black"]
dd
| 洋室の天井の遣り替え
br
span[style="font-size=12px;color=black"]
img[src="_21_4_17/_ti8.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]


=====================================================================
4_17b
| T邸 床・天井・和室改修工事
span.en
| Outer wall Color best　PAINT
#hpb-main
#recruit
p.large
| T邸
span.ja
| 床・天井・和室改修
| 工事
dl
dt
| 天井ベニア貼り
dd
| クロス下地の遣り替え
br
img[src="_21_4_17/_ti9_0.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 洋室天井
dd
| パテ入れ
br
img[src="_21_4_17/_ti9.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 洋室天井
dd
| パテ入れ
br
img[src="_21_4_17/_ti10.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 下地の貼り替え
dd
| 下地の垂木の確認
br
img[src="_21_4_17/_ti11.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 廊下の天井
dd
| 下地の隙間調整
br
img[src="_21_4_17/_ti12.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 畳下地の遣り替え
br
dd
| 和室畳下地の取替え
br
img[src="_21_4_17/_ti13.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 天井のパテ2度塗り
br
dd
| 天井のパテの仕上げ
br
img[src="_21_4_17/_ti14.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 遣り替え完了
br
dd
br
span[style="font-size=12px;color=black"]
img[src="_21_4_17/_ti15.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 洋室の屋根裏
br
span[style="font-size=12px;color=black"]
dd
| 洋室の天井の遣り替え
br
span[style="font-size=12px;color=black"]
img[src="_21_4_17/_ti16.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 次回天井補修工事へ
dd
| 洋室の天井の遣り替え
br
span[style="font-size=12px;color=black"]
img[src="_21_4_17/_ti17.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
a[href="2021_4_17_c.html"]
| 床工事へ



=====================================================================
4_17c

| T邸 床・天井・和室改修工事
span.en
| Outer wall Color best　PAINT
#hpb-main
#recruit
p.large
| T邸
span.ja
| 床・天井・和室改修
| 工事
dl
dt
| 床の貼り
dd
br
img[src="_21_4_17/_y1.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 畳下地の取替え1
dd
| 下地垂木の確認
br
img[src="_21_4_17/_y2.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 畳下地の遣り替え2
dd
br
img[src="_21_4_17/_y2b.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 畳下地の遣り替え3
dd
| 完成
br
img[src="_21_4_17/_y3.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 床カバー工法1
dd
| 床の貼り付け
br
img[src="_21_4_17/_y4.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 床カバー工法2
br
dd
| 完成
br
img[src="_21_4_17/_y5.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 敷居の取替え1
br
dd
br
img[src="_21_4_17/_y6.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 敷居の取替え2
br
dd
br
span[style="font-size=12px;color=black"]
img[src="_21_4_17/_y7.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 洋室の屋根裏
br
span[style="font-size=12px;color=black"]
dd
| 洋室の天井の遣り替え
br
span[style="font-size=12px;color=black"]
img[src="_21_4_17/_y8.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 畳入れ
dd
| 畳を入れて完成
br
span[style="font-size=12px;color=black"]
img[src="_21_4_17/_y9.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 工事完了

=====================================================================
4_23
| H邸 境界ブロック設置工事
span.en
| Outer wall Color best　PAINT
#hpb-main
#recruit[style="text-align : right;" align="right"]
p.large
| H邸境界ブロック設置工事
dl
dt
| 現状1
dd
br
img[src="_21_4_24h/_hy1.jpg" width="266" height="354" border="0" hspace="5" vspace="5"]
dt
| 現状2
dd
br
img[src="_21_4_24h/_hy2.jpg" width="266" height="354" border="0" hspace="5" vspace="5"]
dt
| 現状3
dd
br
img[src="_21_4_24h/_hy3.jpg" width="266" height="354" border="0" hspace="5" vspace="5"]
dt
| 丁張り1
br
span[style="font-size=12px;color=black"]
font[size="-1" color="#000000"]
| 建築で言うところ
br
| の縄張り・水盛り・
br
| 遣り方のことです。
dd
br
img[src="_21_4_24h/_hy4.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 丁張り2
dd
br
img[src="_21_4_24h/_hy5.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 丁張り3
br
dd
br
img[src="_21_4_24h/_hy6.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| ブロック積み1
br
dd
br
img[src="_21_4_24h/_hy7.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| ブロック積み1
br
dd
br
img[src="_21_4_24h/_hy7_2.jpg" width="266" height="354" border="0" hspace="5" vspace="5"]
dt
| ブロック積み2
br
dd
br
span[style="font-size=12px;color=black"]
img[src="_21_4_24h/_hy8.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| ブロック積み3
br
span[style="font-size=12px;color=black"]
dd
br
span[style="font-size=12px;color=black"]
img[src="_21_4_24h/_hy9.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| ブロック積み4
br
span[style="font-size=12px;color=black"]
dd
br
span[style="font-size=12px;color=black"]
img[src="_21_4_24h/_hy10.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| ブロック積み完了
br
span[style="font-size=12px;color=black"]
dd
br
span[style="font-size=12px;color=black"]
img[src="_21_4_24h/_hy11.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 埋め戻し1
br
|  　　
span[style="font-size=12px;color=black"]
dd
br
span[style="font-size=12px;color=black"]
img[src="_21_4_24h/_hy12.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 埋め戻し2
br
dd
br
span[style="font-size=12px;color=black"]
img[src="_21_4_24h/_hy13.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]

=====================================================================
4_24
| 玄関腰のタイルに貼り替え
span.en
| Outer wall Color best　PAINT
#hpb-main
#recruit[style="text-align : right;" align="right"]
p.large
| 玄関の腰の和風モダンタイルに貼り替える
dl
dt
| 現状1
dd
br
img[src="_21_4_24h/_hg1.jpg" width="266" height="411" border="0" hspace="5" vspace="5"]
dt
| 現状2
dd
br
img[src="_21_4_24h/_hg2.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 現状3
dd
br
img[src="_21_4_24h/_hg3.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 便座取替
br
span[style="font-size=12px;color=black"]
dd
br
img[src="_21_4_24h/_hg4.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 完了2
dd
| 電源コードに刺して完成
br
img[src="_21_4_24h/_hg5.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
|  　　　　
dt
| 完了2
dd
| リモートも正常に起動
br
img[src="_21_4_24h/_hg6.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
|  　　　　
dt
| 完了2
dd
| リモートも正常に起動
br
img[src="_21_4_24h/_hg7.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
|  　　　　
dt
| 完了2
dd
| リモートも正常に起動
br
img[src="_21_4_24h/_hg8.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
|  　　　　
dt
| 完了2
dd
| リモートも正常に起動
br
img[src="_21_4_24h/_hg9.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 完了2
dd
| リモートも正常に起動
br
img[src="_21_4_24h/_hg10.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 完了2
dd
| リモートも正常に起動
br
img[src="_21_4_24h/_hg11.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 完了2
dd
| リモートも正常に起動
br
img[src="_21_4_24h/_hg12.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 完了2
dd
| リモートも正常に起動
br
img[src="_21_4_24h/_hg12b.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 完了2
dd
| リモートも正常に起動
br
img[src="_21_4_24h/_hg13.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 完了2
dd
| リモートも正常に起動
br
img[src="_21_4_24h/_hg14.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 完了2
dd
| リモートも正常に起動
br
img[src="_21_4_24h/_hg15.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]




=====================================================================
4_25

| Y邸 便座のみの入替え
span.en
| Outer wall Color best　PAINT
#hpb-main
#recruit[style="text-align : right;" align="right"]
p.large
| Y邸便座のみの入替え
dl
dt
| 現状1
dd
| 便座を電動式に取替え
br
img[src="_21_4_24h/_u1.jpg" width="266" height="411" border="0" hspace="5" vspace="5"]
dt
| 現状2
dd
br
img[src="_21_4_24h//_u2.jpg" width="266" height="411" border="0" hspace="5" vspace="5"]
dt
| 便座取外し
dd
| 上部を取り外す
br
img[src="_21_4_24h/_u3.jpg" width="266" height="411" border="0" hspace="5" vspace="5"]
dt
| 便座取替
br
span[style="font-size=12px;color=black"]
dd
| 洗浄用の配水管も新品に
br
img[src="_21_4_24h/_u4.jpg" width="266" height="411" border="0" hspace="5" vspace="5"]
dt
| 完了2
dd
| 電源コードに刺して完成
br
img[src="_21_4_24h/_u5.jpg" width="266" height="411" border="0" hspace="5" vspace="5"]
|  　　　　
dt
| 完了2
dd
| リモートも正常に起動
br
img[src="_21_4_24h/_u6.jpg" width="266" height="411" border="0" hspace="5" vspace="5"]

=====================================================================
5_21

| 秋葉様補修工事
| 秋葉様屋根の補修工事(金華校下)
dl
dt
| 現状1
dd
br
img[src="21_5_21/_a01.jpg" width="400" height="300" border="0" hspace="5" vspace="5"]
dt
| 現状2
dd
br
img[src="21_5_21/a01.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 現状3
dd
br
img[src="21_5_21/a02.jpg" width="300" height="372" border="0" hspace="5" vspace="5"]
dt
| ベニヤ替え
br
span[style="font-size=12px;color=black"]
dd
br
img[src="21_5_21/a03.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 防水シート貼り1
dd
br
img[src="21_5_21/a04.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
|  　　　　
dt
| 防水シート貼り2
dd
br
img[src="21_5_21/a05.jpg" width="300" height="328" border="0" hspace="5" vspace="5"]
|  　　　　
dt
| 屋根板金
dd
br
img[src="21_5_21/a06.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
|  　　　　
dt
| 屋根と板金の水切り部
dd
br
img[src="21_5_21/a07.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
|  　　　　
dt
| 中段板金貼り
dd
br
img[src="21_5_21/a08.jpg" width="300" height="255" border="0" hspace="5" vspace="5"]
dt
| 屋根完了
dd
br
img[src="21_5_21/a09.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 完成
dd
br
img[src="21_5_21/a010.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]

=====================================================================
5_24

| 木製デッキの修復工事(岐阜市)
dl
dt
| 足場外し1
dd
| 木部デッキ補修のため
br
img[src="21_5_24/_tt1.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 現状2
dd
br
img[src="21_5_24//_tt2.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 現状3
dd
br
img[src="21_5_24/_tt5.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| ベニヤ替え
br
span[style="font-size=12px;color=black"]
dd
br
img[src="21_5_24/_tt6.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 防水シート貼り1
dd
br
img[src="21_5_24/_tt7.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
|  　　　　
dt
| 腐食部取替え
dd
br
img[src="21_5_24/_tt8.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
|  　　　　
dt
| 取替材の塗装
dd
| 現場での塗装
br
img[src="21_5_24/_tt9.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
|  　　　　
dt
| 取替え材塗装
dd
br
img[src="21_5_24/_tt13.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 細部仕上げ塗装
dd
| 念入りに細部まで塗り上げていく
br
img[src="21_5_24/_tt13b.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
dt
| 完成1
dd
br
|  <img src="21_5_24/_tt14.jpg" width="400" height="266" border="0" hspace="5" vspace="5" 　　　　　　
dt
dt
| 完成 2
dd
br
img[src="21_5_24/_tt15.jpg" width="400" height="266" border="0" hspace="5" vspace="5"]
